$blue: #16213E;
$white: #eee;
$blue_transparent: rgba(15, 52, 96, 0.7);
$pink: #E94560;
$linear_gradient_default: linear-gradient(to bottom right, rgba(22, 33, 62,0.8), 80%, rgba(233, 69, 96,0.8));
$border_pink_small: 0.2rem solid $pink;