body {
  overflow-x: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62, 5%;
}

.header {
  position: absolute;
  width: 100vw;
  height: 4.5rem;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  gap: 1rem;
  box-shadow: 0rem 0rem 1rem;
  z-index: 1;
}
.header-logo {
  height: 2rem;
  width: 5rem;
  display: flex;
}
.header-logo:hover {
  cursor: pointer;
}
.header-logo > img {
  height: auto;
  width: auto;
}
.header-categories {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: 80%;
  font-weight: 500;
  color: black;
  text-decoration: none;
}
.header-categories:hover {
  color: rgb(162, 52, 237);
}
.header-search {
  border: 0.1rem solid black;
  border-radius: 2rem;
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
}
.header-search-input {
  appearance: none;
  border: none;
  width: 100%;
  height: 100%;
  font-size: 100%;
  margin-right: 0.5rem;
  outline: none;
}
.header-search-input:focus {
  border: none;
}
.header-shoppingCart {
  font-size: 150%;
  transition-duration: 0.2s;
  color: black;
  text-decoration: none;
}
.header-shoppingCart:hover {
  color: rgb(162, 52, 237);
}
.header-buttons {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.header-buttons > button {
  height: 2.5rem;
  width: 5rem;
  appearance: none;
  border: none;
  background: none;
  font-size: 100%;
  font-weight: 700;
  transition: 0.2s;
}
.header-buttons > button:hover {
  cursor: pointer;
}
.header-buttons > button:nth-of-type(1) {
  border: 0.1rem solid black;
}
.header-buttons > button:nth-of-type(1):hover {
  background-color: #e6e6e6;
}
.header-buttons > button:nth-of-type(2) {
  background-color: rgb(46, 46, 46);
  color: white;
}
.header-buttons > button:nth-of-type(2):hover {
  background-color: #151515;
}
.header-globe {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
  appearance: none;
  border: 0.1rem solid black;
  background: none;
  font-size: 120%;
}
.header-globe:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.banner {
  position: relative;
  margin-top: 4.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 25rem;
  width: 100vw;
  max-width: 85rem;
  background-image: url(../../images/banner.webp);
  background-size: cover;
  background-position: right;
  padding: 3rem;
}
.banner-button {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  appearance: none;
  border: none;
  background-color: rgb(56, 56, 56);
  font-size: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.2s;
}
.banner-button:hover {
  cursor: pointer;
  background-color: #1f1f1f;
}
.banner-button:nth-of-type(1) {
  position: absolute;
  top: 50%;
  left: 1rem;
}
.banner-button:nth-of-type(2) {
  position: absolute;
  top: 50%;
  left: calc(100% - 4rem);
}
.banner-div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2rem;
  height: auto;
  min-height: 10rem;
  max-width: 60ch;
  background-color: white;
  box-shadow: 0rem 0rem 1rem rgb(184, 184, 184);
}
.banner-div > h2 {
  font-size: 230%;
  color: rgb(24, 24, 24);
}
.banner-div > p {
  font-size: 120%;
  font-family: sans-serif;
}

.courses {
  margin-top: 1rem;
  width: 100vw;
  max-width: 85rem;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 2rem;
  gap: 1rem;
}
.courses > h2 {
  font-size: 230%;
  color: rgb(24, 24, 24);
}
.courses > h3 {
  font-size: 120%;
  font-family: sans-serif;
  font-weight: 200;
}
.courses-list {
  display: flex;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
  gap: 1rem;
}
.courses-listItem {
  font-family: sans-serif;
  font-weight: 700;
  color: rgb(100, 100, 100);
}
.courses-listItem:nth-of-type(1) {
  color: black;
}
.courses-section {
  padding: 2rem;
  border: 0.1rem solid rgb(209, 209, 209);
  height: auto;
}
.courses-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.courses-div > h3 {
  font-size: 150%;
  font-family: sans-serif;
}
.courses-div > p {
  font-family: sans-serif;
  max-width: 90ch;
  font-weight: 100;
  color: rgb(61, 61, 61);
}
.courses-button {
  appearance: none;
  border: 0.1rem solid black;
  background: none;
  height: 2.5rem;
  width: 8rem;
  font-size: 90%;
  font-weight: 700;
  transition-duration: 0.2s;
}
.courses-button:hover {
  cursor: pointer;
  background-color: #e6e6e6;
}
.courses-wrapper {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.courses-course {
  height: auto;
  width: 15rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-family: sans-serif;
  font-size: 85%;
}
.courses-course:hover {
  cursor: pointer;
}
.courses-course > img {
  padding: 0;
  border: 0.1rem solid black;
  border-radius: 0.2rem;
}
.courses-course > h4 {
  color: rgb(114, 113, 113);
  font-size: 80%;
}
.courses-stars {
  color: rgb(255, 196, 0);
}

.splitter {
  background-color: #e9e9e9;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5rem;
  flex-wrap: wrap;
  gap: 2rem;
}
.splitter-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-family: sans-serif;
  max-width: 35ch;
}
.splitter-div > h3 {
  font-size: 90%;
}
.splitter-div > i {
  background-color: rgb(206, 206, 206);
  font-size: 140%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-self: center;
  height: 3.5rem;
  width: 4rem;
  border-radius: 50%;
}

.viewing {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;
  gap: 3rem;
  width: 70vw;
}
.viewing-h2 {
  font-family: sans-serif;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.viewingcourses-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.categories {
  padding: 5rem 15rem;
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.categories-h2 {
  font-size: 200%;
  font-family: sans-serif;
}
.categories-wrapper {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.categories-article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.categories-article:hover .categories-img {
  transform: scale(1, 1);
}
.categories-category {
  height: 20rem;
  width: 20rem;
  background-color: #f8fafb;
  display: flex;
  align-items: center;
  justify-content: center;
}
.categories-h3 {
  font-family: sans-serif;
}

.featured {
  padding: 5rem 15rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: #e9e9e9;
}
.featured > h3 {
  font-family: sans-serif;
  font-size: 150%;
}
.featured-wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 15%;
  flex-wrap: wrap;
}
.featured-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 3rem;
  font-family: sans-serif;
  font-weight: 700;
}
.featured-listItem {
  font-size: 100%;
  display: flex;
  flex-direction: column;
}
.featured-listItem > a {
  color: rgb(162, 52, 237);
}
.featured-listItem > a:hover {
  color: #6c0fac;
}
.featured-studentCount {
  color: gray;
  font-size: 80%;
}
.featured-button {
  height: auto;
  padding: 1rem;
  appearance: none;
  border: 0.1rem solid black;
  background-color: white;
  width: max-content;
  font-weight: 800;
  transition-duration: 0.2s;
}
.featured-button:hover {
  background-color: #e6e6e6;
}

.advertisement {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 2rem;
  gap: 3rem;
  flex-wrap: wrap;
}
.advertisement > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.advertisement > div > h2 {
  font-size: 270%;
  color: rgb(53, 53, 53);
}
.advertisement-p {
  max-width: 40ch;
  font-size: 150%;
  font-family: sans-serif;
}
.advertisement-button {
  height: auto;
  width: max-content;
  padding: 1rem;
  appearance: none;
  border: none;
  background-color: rgb(44, 44, 44);
  font-size: 120%;
  font-weight: 600;
  color: white;
  transition: 0.2s;
}
.advertisement-button:hover {
  background-color: #131313;
}

.udemy-business {
  height: 3rem;
  width: 17rem;
}

.brands {
  background-color: #e9e9e9;
  height: auto;
  padding: 2rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.brands-h2 {
  font-size: 200%;
}
.brands-p {
  color: rgb(104, 104, 104);
  font-size: 100%;
  font-family: sans-serif;
}
.brands-brands {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  flex-wrap: wrap;
}
.brands-img {
  height: 5rem;
  width: 11rem;
}

.footer {
  background-color: #1c1d1f;
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 12rem 7rem;
  flex-wrap: wrap;
}
.footer-div1 {
  padding: 2rem;
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}
.footer-div2 {
  padding: 1rem 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.footer-div2 > button {
  appearance: none;
  height: auto;
  width: max-content;
  font-size: 100%;
  border: 0.1rem solid white;
  color: white;
  background: none;
  padding: 0.5rem 1rem;
  padding-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.footer-div3 {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0;
}
.footer-div3 > img {
  transform: scale(0.6, 0.6);
}
.footer-div4 {
  padding: 1rem 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.footer-div4 > h4 {
  color: white;
  font-family: sans-serif;
  font-weight: 200;
}

.footerlist {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
  font-family: sans-serif;
  color: white;
  font-size: 100%;
  margin-left: 1rem;
}
.footerlistItem:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media all and (max-width: 1000px) {
  .header-shoppingCart {
    display: none;
  }
  .header-categories {
    display: none;
  }
  .header-search {
    display: none;
  }
  .header {
    justify-content: center;
    gap: 3rem;
  }
  .featured-wrapper {
    gap: 5rem;
  }
  .footer-div2 > button {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
