@use "variabelen/mixins";
@use "variabelen/colors";

*:focus{
    border: 0.3rem dashed blue;
}

body{
    background: colors.$gradient;
    @include mixins.flexCenter;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    padding: 4rem;
    font-family: 'Roboto', sans-serif;

    &.dark{
        background: colors.$background--dark;
    }
}