@use "variabelen/mixins";
@use "variabelen/colors";

*:focus{
    border: 0.3rem dashed blue;
}

body{
    background: colors.$gradient;
    @include mixins.flexCenter;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    padding: 4rem;
    font-family: 'Roboto', sans-serif;

    &.dark{
    }

    &.dark .header{
        background:colors.$background--dark;
    }

    &.dark .header__logo{
        color: colors.$background--dark;
        border: none;

        &.header__logo:hover{
            background-color: colors.$background--dark;
            color: colors.$accent;
            border: 0.2rem dashed colors.$accent;
        }
    }

    &.dark .showcase{
        background-color: colors.$background--dark;
        color: colors.$background;

        &__input{
            color: colors.$background;
        }
    }
}