.header{
    width: 80vw;
    height: 15rem;
    background: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
}

.header__rightWrapper{
    display: flex;
    gap: 2rem;
}