@use "colors";
@use 'mixins';

.header {
    width: 80vw;
    height: 15rem;
    display: flex;
    background-color: colors.$background;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;

    &__logo {
        height: 8rem;
        width: 8rem;
        font-size: 200%;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: colors.$background;
        background-color: colors.$accent;
        border: 0.2rem solid colors.$background;

        &:hover {
            color: colors.$accent;
            border: 0.2rem dashed colors.$accent;
            background-color: colors.$background;
            @include mixins.rotate(0.6s);
        }
    }

    &__rightWrapper {
        display: flex;
        gap: 2rem;
    }

    &__avatar {
        width: 8rem;
        height: 8rem;
        border-radius: 50%;

        &:hover {
            @include mixins.rotate(0.4s);
        }
    }

    &__img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
    }

}