@use "../../variabelen/colors.scss";

.header__toggle {
    appearance: none;
    height: 4rem;
    width: 9rem;
    border-radius: 5rem;
    position: relative;
    background: colors.$background--dark;

    &:hover{
        cursor: pointer;
    }

    &:checked{
        background: colors.$background;
    }

    &:checked::after {
        left: 80%;
    }

    &::after {
        content: "";
        position: absolute;
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        background: colors.$gradient;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);
        transition-duration: 0.2s;
    }
}