@media all and (max-width: 1000px){
    .header-shoppingCart{
        display: none;
    }

    .header-categories{
        display: none;
    }

    .header-search{
        display: none;
    }
    .header{
        justify-content: center;
        gap: 3rem;
    }

    .featured-wrapper{
        gap: 5rem;
    }

    .footer-div2>button{
        display: none;
    }
}